*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: shabnam;

}

body {
    background-color: rgb(243, 237, 237);

}

ul {
    list-style-type: none;
    width: 100%;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

//colors for table 

$green-sauare : rgb(172, 211, 136);
$blue-square : rgb(84, 189, 221);
$orang-square : rgb(230, 185, 103);
$purple-square : rgb(212, 138, 196);

.row::after {
    display: block;
    content: "";
    clear: both;
}

@font-face {
    font-family: 'shabnam';
    src: url('../fonts/Shabnam-FD.eot') format('eot');
    src: url('../fonts/Shabnam-FD.ttf') format('ttf');
    src: url('../fonts/Shabnam-FD.woff') format('woff');
}


.icon-button {
    display: inline-block;
    background-color: transparent;
}

.green-square {
    background-color: $green-sauare;
}

.blue-square {
    background-color: $blue-square;
}

.orange-square {
    background-color: $orang-square;
}

.purple-square {
    background-color: $purple-square;
}

.calendar {
    background-color: rgb(255, 255, 255);
    width: 60vw;
    padding: 10px 0;
    margin: 100px 500px 0 100px;
    border-radius: 15px;

    .typeB {
        display: none;
    }

    .top-of-container {
        display: flex;
        flex-direction: row;

        .left-of-top {
            width: 50%;

            #print {
                margin: 15px 0 0 10px;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 0.6em;
                    font-weight: 700;
                    content: "\f02f";

                }
            }

            #remove-group {
                display: block;
                margin-left: 10px;
                color: red;
                direction: rtl;

                &::after {
                    content: "حذف گروهی";
                    font-size: 0.6em;
                    font-weight: 700;
                    margin-right: 2px;
                }

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 0.6em;
                    font-weight: 700;
                    content: "\f1f8";
                }
            }

        }

        .right-of-top {
            direction: rtl;
            width: 50%;

            #title {
                direction: rtl;
                font-size: 0.6em;
                margin: 15px 10px 0 0;
                font-weight: bold;
            }

            #shows-calendar {
                margin-right: 10px;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 0.7em;
                    font-weight: 700;
                    content: " \f00a";
                }

                &:after {
                    content: "نمایش تقویمی";
                    font-size: 0.7em;
                    font-weight: 700;
                    letter-spacing: 0.4pt;
                    margin-right: 2px;
                }
            }

            #shows-list {
                margin-right: 5px;
                color: rgba(128, 128, 128, 0.644);

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 0.5em;
                    font-weight: 700;
                    content: " \f00b";
                }

                &:after {
                    content: "نمایش لیستی";
                    font-size: 0.5em;
                    font-weight: 700;
                    letter-spacing: 0.4pt;
                    margin-right: 2px;
                }
            }
        }

    }

    .main-of-container {
        margin: auto;
        width: 95%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        
        ul {
            font-size: 0.6em;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            
            .daycounter {
                flex-basis: 30px;
                line-height: 30px;
                width: 100%;
                height: 10%;
                text-align: center;
                font-size: 1em;
                border-radius: 0;
                border-bottom: 1px solid black;
                // background-color: red;
                margin: 0;
            }
            
            .square-style {
                width: 70%;
                margin: 10px auto;
                padding: 5px;
                border-radius: 6px;
                position: relative;
                text-align: center;
                
                .subject {
                    font-size: 1em;
                    font-weight: bold;

                }
                
                .teacher {
                    font-size: 0.5em;
                }

                .time {
                    font-size: 0.5em;
                }
                
                .remove-btn {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    line-height: 6px;
                    position: absolute;
                    top: -2px;
                    right: -2px;
                    
                    &:before {
                        font-family: "Font Awesome 5 Free";
                        font-size: 8px;
                        font-weight: 700;
                        content: "\f00d";
                    }
                    
                }
            }
        }
        
        
        :last-child {
            border-top-left-radius: 6px;
        }
        
        :first-child {
            border-top-right-radius: 6px;
        }
    }
}


.list {

    background-color: rgb(255, 255, 255);
    width: 60vw;
    padding: 10px 0;
    margin: 100px 500px 0 100px;
    border-radius: 15px;


    .top-of-container {
        display: flex;
        flex-direction: row;

        .left-of-top {
            width: 50%;

            #print {
                display: none;
            }

            #remove-group {
                display: none;
            }

        }

        .right-of-top {
            direction: rtl;
            width: 50%;

            #title {
                direction: rtl;
                font-size: 0.6em;
                margin: 15px 10px 0 0;
                font-weight: bold;
            }

            #shows-calendar {
                margin-right: 10px;
                color: rgba(128, 128, 128, 0.644);

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 0.5em;
                    font-weight: 700;
                    content: " \f00a";
                }

                &:after {
                    content: "نمایش تقویمی";
                    font-size: 0.5em;
                    font-weight: 700;
                    letter-spacing: 0.4pt;
                    margin-right: 2px;
                }
            }

            #shows-list {
                margin-right: 5px;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-size: 0.7em;
                    font-weight: 700;
                    content: " \f00b";
                }

                &:after {
                    content: "نمایش لیستی";
                    font-size: 0.7em;
                    font-weight: 700;
                    letter-spacing: 0.4pt;
                    margin-right: 2px;
                }
            }
        }

    }

    .main-of-container {
        display: flex;
        flex-direction: column;

        ul {
            display: block;
            border: none;
            direction: rtl;
            padding: 8px;

            .daycounter {
                width: 10%;
                font-size: 0.6em;
                background-color: rgba(209, 201, 201, 0.349);
                text-align: center;
                border-radius: 8px;
                margin-bottom: 5px;

                &:before {
                    margin-left: 3px;
                    font-family: "Font Awesome 5 Free";
                    font-size: 0.6em;
                    font-weight: 700;
                    content: "\f07b";
                }

                &::after {
                    display: none;
                }
            }

            .row-style {
                width: 100%;
                display: flex;
                flex-direction: row;
                font-size: 0.3em;
                line-height: 20px;
                padding: 5px 10px;
                margin-bottom: 5px;
                border-radius: 15px;

                .subject {
                    width: 25%;
                    height: 100%;
                    font-weight: bold;

                    &:before {
                        margin-left: 3px;
                        font-family: "Font Awesome 5 Free";
                        font-size: 0.4em;
                        font-weight: 700;
                        content: "\f02d";
                    }
                }

                .teacher {
                    width: 25%;
                    height: 100%;
                }

                .time {
                    direction: ltr;
                    width: 25%;
                    height: 100%;
                    flex-grow: 2;

                    &:after {
                        margin-left: 2px;
                        font-family: "Font Awesome 5 Free";
                        font-size: 0.4em;
                        font-weight: 700;
                        content: "\f017";
                    }
                }

                .remove-btn {
                    width: 1.2em;
                    height: 1.2em;
                    margin: 2px;
                    border-radius: 50%;
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: "Font Awesome 5 Free";
                        font-size: 0.4em;
                        font-weight: 700;
                        content: "\f1f8";
                    }
                }

                .edit {
                    width: 1.2em;
                    height: 1.2em;
                    margin: 2px;
                    border-radius: 50%;
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: "Font Awesome 5 Free";
                        font-size: 0.4em;
                        font-weight: 700;
                        content: "\f303";
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 800px) {
    .calendar {
        background-color: rgb(255, 255, 255);
        width: 60vw;
        padding: 10px 0;
        margin: 100px 500px 0 100px;
        border-radius: 15px;

        .typeB {
            display: none;
        }

        .top-of-container {
            display: flex;
            flex-direction: row;

            .left-of-top {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                #print {
                    display: none;
                }

                #remove-group {
                    display: block;
                    margin-left: 10px;
                    color: red;
                    direction: rtl;

                    &::after {
                        content: "حذف گروهی";
                        font-size: 0.6em;
                        font-weight: 700;
                        margin-right: 2px;
                    }

                    &:before {
                        font-family: "Font Awesome 5 Free";
                        font-size: 0.6em;
                        font-weight: 700;
                        content: "\f1f8";
                    }
                }

            }

            .right-of-top {
                direction: rtl;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                #title {
                    direction: rtl;
                    font-size: 0.6em;
                    margin: 15px 10px 10px 0;
                    font-weight: bold;
                }

                #shows-calendar {
                    display: none;
                }

                #shows-list {
                    display: none;
                }
            }

        }

        .main-of-container {
            display: flex;
            flex-direction: column;

            ul {
                font-size: 0.6em;
                display: block;
                // display: flex;
                // align-items: flex-start;
                border: none;
                direction: rtl;
                padding: 8px;

                .daycounter {
                    width: 13%;
                    text-align: center;
                    border-radius: 15px;
                    line-height: 30px;
                    margin: 5px 0;
                    background-color: rgba(209, 201, 201, 0.349);
                    border: none;

                    &:before {
                        margin-left: 3px;
                        font-family: "Font Awesome 5 Free";
                        font-size: 0.6em;
                        font-weight: 700;
                        content: "\f07b";
                    }

                }

                .square-style {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    // align-items: baseline;
                    font-size: 0.3em;
                    line-height: 20px;
                    padding: 5px 10px;
                    margin: 0 auto 5px auto;
                    border-radius: 15px;
                    position: relative;
                    text-align: right;

                    .subject {
                        width: 25%;
                        height: 100%;
                        font-weight: bold;

                        &:before {
                            margin-left: 3px;
                            font-family: "Font Awesome 5 Free";
                            font-size: 0.4em;
                            font-weight: 700;
                            content: "\f02d";
                        }
                    }

                    .teacher {
                        font-size: 0.5em;
                        width: 25%;
                        height: 100%;
                    }

                    .time {
                        direction: ltr;
                        width: 25%;
                        height: 100%;
                        flex-grow: 2;

                        &:after {
                            margin-left: 2px;
                            font-family: "Font Awesome 5 Free";
                            font-size: 0.4em;
                            font-weight: 700;
                            content: "\f017";
                        }
                    }

                    .remove-btn {
                        width: 1.2em;
                        height: 1.2em;
                        margin: 2px;
                        border-radius: 50%;
                        position: relative;
                        line-height: 0;
                        right: 0;
                        top: 0;

                        &:before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-family: "Font Awesome 5 Free";
                            font-size: 0.4em;
                            font-weight: 700;
                            content: "\f1f8";
                        }
                    }

                    .edit {
                        width: 1.2em;
                        height: 1.2em;
                        margin: 2px;
                        border-radius: 50%;
                        position: relative;

                        &:before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-family: "Font Awesome 5 Free";
                            font-size: 0.4em;
                            font-weight: 700;
                            content: "\f303";
                        }
                    }
                }
            }

            :last-child {
                border-top-left-radius: 6px;
            }

            :first-child {
                border-top-right-radius: 6px;
            }
        }
    }
}